head {
    background-color: rgb(0, 150, 163);
}

body {
    background-color: rgb(0, 150, 163);
}
footer {
    background-color: rgb(0, 150, 163);
}

h1 {
    font-size: 28px;
    color: rgb(20, 20, 20);
}
h2 {
    font-size: 20px;
    color: rgb(7, 46, 53);
}
p {
    font-size: 16px;
    color: rgb(0, 0, 35);
}
label {
    font-size: 16px;
    color: rgb(0, 0, 80);
}
input {
    font-size: 15px;
    color: rgb(0, 0, 80);
}
button {
    font-size: 16px;
    color: white;
    background-color: rgb(0, 86, 101);
    padding: 4px;
}